* {
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: cadetblue;

}

.gras {
    font-weight: bold;

}

img {
    height: 20px;

}


.nav {

    font-style: italic;
    background-color: burlywood;

}

ul {
    display: flex;

}

li {
    padding: 5px;
    list-style-type: none;
}